---
import { Image } from "@astrojs/image/components";
import SimpleLayout from "../layouts/SimpleLayout.astro";
import { LinkIcon } from "../components/icons/LinkIcon";
import { Card } from "../components/Card";

interface Project {
  name: string;
  description: string;
  link: { href: string; label: string };
  logo: string;
}

const projects: Project[] = [
  {
    name: "Planetaria",
    description:
      "Creating technology to empower civilians to explore space on their own terms.",
    link: { href: "#", label: "planetaria.tech" },
    logo: "/logos/planetaria.svg",
  },
  {
    name: "Animaginary",
    description:
      "High performance web animation library, hand-written in optimized WASM.",
    link: { href: "#", label: "github.com" },
    logo: "/logos/animaginary.svg",
  },
  {
    name: "HelioStream",
    description:
      "Real-time video streaming library, optimized for interstellar transmission.",
    link: { href: "#", label: "github.com" },
    logo: "/logos/helio-stream.svg",
  },
  {
    name: "cosmOS",
    description:
      "The operating system that powers our Planetaria space shuttles.",
    link: { href: "#", label: "github.com" },
    logo: "/logos/cosmos.svg",
  },
  {
    name: "OpenShuttle",
    description:
      "The schematics for the first rocket I designed that successfully made it to orbit.",
    link: { href: "#", label: "github.com" },
    logo: "/logos/open-shuttle.svg",
  },
];
---

<SimpleLayout
  header={{
    title: "Projects - Spencer Sharp",
    description: "Things I've made trying to put my dent in the universe.",
  }}
  title="Things I've made trying to put my dent in the universe."
  intro="I've worked on tons of little projects over the years but these are the ones that I'm most proud of. Many of them are open-source, so if you see something that piques your interest, check out the code and contribute if you have ideas for how it can be improved."
>
  <ul
    role="list"
    class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
  >
    {
      projects.map((project) => (
        <Card as="li">
          <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
            <Image
              src={project.logo}
              alt=""
              width={100}
              height={100}
              format={"svg"}
              class="h-8 w-8"
            />
          </div>
          <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
            <Card.Link href={project.link.href}>{project.name}</Card.Link>
          </h2>
          <Card.Description>{project.description}</Card.Description>
          <p class="relative z-10 mt-6 flex text-sm font-medium text-zinc-400 transition group-hover:text-teal-500 dark:text-zinc-200">
            <LinkIcon className="h-6 w-6 flex-none" />
            <span class="ml-2">{project.link.label}</span>
          </p>
        </Card>
      ))
    }
  </ul>
</SimpleLayout>
